<h2>Províncias</h2>
<div class="view-wrapper list-page crm-contact-list">
  <dx-data-grid
    class="grid theme-dependent content-block"
    height="100%"
    [dataSource]="provinces"
    keyExpr="id"
    [allowColumnReordering]="true"
    [showBorders]="true"
    (onExporting)="exportGrid($event)"
    (onRowRemoving)="onDeleteProvince($event)">

    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection
      selectAllMode="allPages"
      showCheckBoxesMode="always"
      mode="multiple"
    ></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
    <dxo-search-panel
      [visible]="true"
      placeholder="Procurar"
    ></dxo-search-panel>
    <dxo-export
        [enabled]="true"
        [formats]="['xlsx', 'pdf']">
    </dxo-export>

    <dxo-toolbar>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button
          text="Adicionar Província"
          icon="plus"
          type="default"
          stylingMode="contained"
          (onClick)="openPopup()"
        ></dx-button>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Actualizar',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxi-column
      dataField="name"
      caption="Nome"
      sortOrder="asc"
      [minWidth]="150"></dxi-column>

    <dxi-column type="buttons" [width]="110">
      <dxi-button name="edit" [visible]="true" icon="edit" [onClick]="openUpdateFormPopup"></dxi-button>
      <dxi-button name="delete"  [visible]="true" icon="trash"></dxi-button>
    </dxi-column>


  <dxo-editing
    mode="popup"
    [allowDeleting]="true"
    [texts]="{
      saveRowChanges: 'Salvar',
      cancelRowChanges: 'Cancelar',
      deleteRow: 'Eliminar',
      confirmDeleteMessage: 'Tem certeza de que deseja eliminar esta província?'
    }">
  </dxo-editing>

  </dx-data-grid>

  <dx-popup
    [(visible)]="isAddProvincePopupOpened" titleText="Nova Província"
    [width]="600"
    [height]="200"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    contentTemplate="popup-content"
    [resizeEnabled]="true"
    title="Nova Província" >
    <div *dxTemplate="let data of 'popup-content'">
      <form [formGroup]="provinceForm">
        <div *ngIf="errors && errors.length" style="color: #ff5252;">
          <ul>
            <li *ngFor="let error of errors">{{ error.error }}</li>
          </ul>
        </div>
        <dx-form
        [formData]="provinceForm.value"
        [showValidationSummary]="true"
        (onFieldDataChanged)="onFieldDataChanged($event)">
          <dxi-item
            dataField = "name"
            [isRequired]="true"
            [editorOptions]="{ placeholder: 'Digite o nome da província' }">
            <dxi-validation-rule type="required" message="O nome deve ser informado"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [min]="3" message="O nome deve no minímo 3 caracteres"></dxi-validation-rule>
          </dxi-item>
          <dxi-item itemType="button" title="Salvar" [buttonOptions]="submitButtonOptions"> </dxi-item>
        </dx-form>
      </form>
    </div>
  </dx-popup>

  <dx-popup
  [(visible)]="isUpdateProvincePopupOpened"
  titleText="Editar Província"
  [width]="600"
  [height]="220"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  contentTemplate="popup-content"
  [resizeEnabled]="true"
  title="Editar Província" >
  <div *dxTemplate="let data of 'popup-content'">
    <form [formGroup]="updateProvinceForm">
      <div *ngIf="errors && errors.length" style="color: #ff5252;">
        <ul>
          <li *ngFor="let error of errors">{{ error.error }}</li>
        </ul>
      </div>
      <dx-form
      [formData]="updateProvinceForm.value"
      [showValidationSummary]="true"
      (onFieldDataChanged)="onFieldDataChangedUpdateForm($event)">
        <dxi-item
          dataField = "name"
          [isRequired]="true"
          [editorOptions]="{ placeholder: 'Digite o nome da província' }">
          <dxi-validation-rule type="required" message="O nome deve ser informado"></dxi-validation-rule>
          <dxi-validation-rule type="stringLength" [min]="3" message="O nome deve no minímo 3 caracteres"></dxi-validation-rule>
        </dxi-item>
        <dxi-item itemType="button" title="Salvar" [buttonOptions]="updateButtonOptions"> </dxi-item>
      </dx-form>
    </form>
  </div>
</dx-popup>

</div>

